@using AdminPanel.ModelsDb

@model IEnumerable<Category>
@{
    Layout = "_AdminLayout";
}

<h2>Categories</h2>

<form method="get">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Category name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="categoryName" placeholder="Category name" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" asp-controller="Categories" asp-action="SearchCategories" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

@Html.ActionLink("Create New Category", "CreateCategory", "Categories", FormMethod.Get)

<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-2">ID</th>
            <th class="col-md-8">Name</th>
            <th class="col-md-2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in @Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <form method="get">
                        <button type="submit" asp-controller="Categories" asp-action="EditCategory" class="btn btn-primary btn-sm" asp-route-id="@category.Id">Edit</button>
                        <button type="submit" asp-controller="Categories" asp-action="DeleteCategory" class="btn btn-danger btn-sm" asp-route-id="@category.Id">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>